.redes-sociales {
  margin-top: 50px;
}
.iconoss{
  margin-left: 10px;
}
.logos{
  margin-left: 50px;
}

.bor{
  border-radius: 5px;
}
.bor2{
  border: 1px solid;
}

.fondo{
  background-color: rgb(38, 26, 42);
}
