
.logo{
  margin-top: 10%;
  margin-left: 21%;
  margin-bottom: -10px;
}
.navegacion{
  margin-top: 50px;
}
.iconoss{
  margin-top: 15px;

  margin-right: 9px;
}
.mleft{
margin-left: -7px;
}
.iconos{
  margin-top: 70px;
  margin-left: 7px;
  margin-right: 5px;
}
.slogan{
  margin-left: -15px;
}
.fuente{
  font-family: 'Pacifico';
}
