.fondo{
  background: url(../img/fondo.jpg) repeat;
}
/**bordes de la barra de buqueda**/
.bor-busqueda{
  border-radius: 0 0 15px 15px;
}

/*borde para input de la barra de busqueda ,navegacion,historial,boton publicar
*/
.bor{
  border-radius: 15px;
}

/*margenes para las imagenes de la columna izquerda*/
.mar{
  margin-left: 7px;
  margin-right: 7px;
}
.margen-contenido{
  margin-left: 2px;
  margin-right: 2px;
}
.comentario{
  display: flex;

}
.foto-perfil{
  width: 40px;

}
.foto-perfil img{
  width: 100%;
  border-radius: 15px 0 0 15px;
}
.info-comentario .header{
  padding-left: 10px;
  padding-right: 7px;
  margin-right: 5px;
  background-color: rgb(142, 236, 224);
  border-radius: 15px 15px 15px 15px;
}
.fuente{
  margin-left: 15px;
  margin-right: 10px;
  font-family: 'Anton', sans-serif;
}
.fuente2{
  margin-left: 15px;
  margin-right: 10px;
  font-family: 'Dancing Script', cursive;
}
